pre[class*='language-'] {
  color: var(--color-stone-50);
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: var(--color-amber-400);
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: var(--color-stone-300);
}

.token.module {
  color: var(--color-amber-400);
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: var(--color-amber-200);
}

.token.punctuation,
.token.attr-equals {
  color: var(--color-stone-500);
}

.token.unit,
.language-css .token.function {
  color: var(--color-orange-300);
}

.token.comment,
.token.operator,
.token.combinator {
  color: var(--color-stone-400);
}
